div.keypad-container {
    border: solid 3px darkgray;
    border-radius: 5px;
    padding: 7px;
    width: fit-content;
    background: lightslategrey;
}

div.keypad-container > input {
    width: -webkit-fill-available !important;
    margin-bottom: 5px;
}

div.keypad-container > div.keypad > div > button {
    border: 1px solid lightgray;
    padding: 11px;
    margin: 3px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    width: 42px;
    height: 52px !important;
    cursor: pointer;
    border-radius: 7px;
}